/* ==== Google font ==== */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
/* === fontawesome === */
@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');
@import url('animate.css');
/*==========================================================================
  General
  ========================================================================== */
body {
	 font-family: "Titillium Web", Helvetica, Arial, sans-serif;
	color:#777;
	background: #fff;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	text-shadow: none;
}

.clear {
	clear: both;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	 font-family: "Raleway", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	
}

h1,h2,h3,h4,h5,h6 {
	font-style: normal;
	margin: 0 0 20px 0;
}
h1 { font-size: 40px; line-height: 30px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
.txt-light { font-weight: 300; }
.txt-regular { font-weight: 400; }
.txt-bold { font-weight: 700; }
.txt-uppercase { text-transform: uppercase; }

blockquote {
	 font-family: "Raleway", Helvetica, Arial, sans-serif;
}

blockquote.bigquote {
	border: none;
	background-color: none;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.1em;
	margin-top: 70px;
}

.text-bold {
	font-weight: 900;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}


small {
	font-size: 70%;
	font-weight: 100;
}

a:hover {
	text-decoration: none;
}

:focus {
	outline: none;
}

.color-white.txt-shadow {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.t-uppercase {
	text-transform: uppercase;
}

/*==========================================================================
  Misc & Adjust 
 ========================================================================== */
.row {
	z-index: 9999;
}

.big {
	font-size: 20pt;
	font-weight: 300;
}


.blink:hover {
	opacity: 0.9;
}

.half-offset {
	margin-bottom: 75px !important;
}

.no-offset {
	margin: 0 !important;
	padding: 0;
}

.content,.container {
	overflow: hidden;
}

.trans {
	border: 0 !important;
	background: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.nobg {
	background: 0;
	border: 0;
}

.noborder {
	border: 0 !important;
}

.color-white {
	color: #fff;
}

.theme-bg {
	background-color: #ff7701 !important;
}

.normalize-font-top {
	padding-top: 25px;
}



/* --- float --- */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* --- align --- */
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
text-align: center;
padding-top: 50px;
}
.align-center i:hover {

cursor: pointer;
-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	-ms-transition: all 0.7s;
	transition: all 0.7s;
 
}
/* ---- padding ---- */
/* top */
.pad-top0 {
	padding-top: 0;
}
.pad-top5 {
	padding-top: 5px;
}

.pad-top10 {
	padding-top: 10px;
}

.pad-top15 {
	padding-top: 15px;
}
.pad-top20 {
	padding-top: 20px;
}
.pad-top25 {
	padding-top: 25px;
}
.pad-top30 {
	padding-top: 30px;
}
.pad-top35 {
	padding-top: 35px;
}
.pad-top40 {
	padding-top: 40px;
}.pad-top50 {
	padding-top: 50px;
}
/* bottom */
.pad-bot0 {
	padding-bottom: 0;
}
.pad-bot5 {
	padding-bottom: 5px;
}

.pad-bot10 {
	padding-bottom: 10px;
}

.pad-bot15 {
	padding-bottom: 15px;
}
.pad-bot20 {
	padding-bottom: 20px;
}
.pad-bot25 {
	padding-bottom: 25px;
}
.pad-bot30 {
	padding-bottom: 30px;
}
.pad-bot35 {
	padding-bottom: 35px;
}
.pad-bot40 {
	padding-bottom: 40px;
}


/* ---- margin --- */
.mar-left5 { margin-left: 5px; }
.mar-left10 { margin-left: 10px; }
.mar-left15 { margin-left: 15px; }
.mar-left20 { margin-left: 20px; }
.mar-left25 { margin-left: 25px; }
.mar-left30 { margin-left: 30px; }

.mar-right5 { margin-right: 5px; }
.mar-right10 { margin-right: 10px; }
.mar-right15 { margin-right: 15px; }
.mar-right20 { margin-right: 20px; }
.mar-right25 { margin-right: 25px; }
.mar-right30 { margin-right: 30px; }

/* top */
.mar-top0 {
	margin-top: 0;
}
.mar-top5 {
	margin-top: 5px;
}

.mar-top10 {
	margin-top: 10px;
}

.mar-top15 {
	margin-top: 15px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top25 {
	margin-top: 25px;
}
.mar-top30 {
	margin-top: 30px;
}
.mar-top35 {
	margin-top: 35px;
}
.mar-top40 {
	margin-top: 40px;
}
/*service*/
i.service-icon {
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  color:#417630;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
  margin-bottom: 25px;
  
}
i.service-icon:hover {
  border: 1px solid #417630;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  background-color:#417630;
  
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
  cursor: pointer;
}
.service-col {
  padding: 40px 20px;
  margin: 0 10px;
  background-color: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-bottom: 40px;
}
.service-col .service-icon {
  height: 140px;
  width: 140px;
  margin: 0 auto;
  border: 3px solid #417630;
  -webkit-box-shadow: inset 0 0 0 0 #fff;
  -moz-box-shadow: inset 0 0 0 0 #fff;
  box-shadow: inset 0 0 0 0 #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}
.service-col .service-icon i {
  font-size: 4.5em;
  line-height: 140px;
  margin: 0 auto;
  color: #417630;
  -webkit-animation: serviceicon 0.6s ease-in-out;
  -moz-animation: serviceicon 0.6s ease-in-out;
  animation: serviceicon 0.6s ease-in-out;
}
.service-col h2 {
  font-weight: 600;
  margin: 1em 0 0.75em;
}
.service-col h2 a {
  color: #417630;
}

}
.service-col p {
  font-size: 0.875em;
  font-weight: 200;
  margin-bottom: 0;
}
.service-col:hover {
  background-color: rgba(65, 118, 48, 0.25);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.service-col:hover .service-icon {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -webkit-box-shadow: inset 0 0 0 100px #fff;
  -moz-box-shadow: inset 0 0 0 100px #fff;
  box-shadow: inset 0 0 0 100px #fff;
}
.service-col:hover .service-icon i {
  color: #417630;
  -webkit-animation: serviceiconhover 0.5s ease-in-out;
  -moz-animation: serviceiconhover 0.5s ease-in-out;
  animation: serviceiconhover 0.5s ease-in-out;
}

/* bottom */
.mar-bot0 {
	margin-bottom: 0;
}
.mar-bot5 {
	margin-bottom: 5px;
}

.mar-bot10 {
	margin-bottom: 10px;
}

.mar-bot15 {
	margin-bottom: 15px;
}
.mar-bot20 {
	margin-bottom: 20px;
}
.mar-bot25 {
	margin-bottom: 25px;
}
.mar-bot30 {
	margin-bottom: 30px;
}
.mar-bot35 {
	margin-bottom: 35px;
}
.mar-bot40 {
	margin-bottom: 40px;
}
.mar-bot45 {
	margin-bottom: 45px;
}


/*===========================
  --- Sections ----
=========================== */

section.section {
	margin:0;
	padding: 80px 0 60px 0;
}


.bg-white {
	background-color: #fff;
}

/* --- section heading --- */
.section-header {
	text-align: center;
padding-top: 30px;
}
.section-header h2.section-heading {
	text-transform: uppercase;
	font-weight: 700;
}

/* ==========================
 --- Parallax ---
============================= */

#parallax1{	
	background-image: url(../img/parallax/4.jpg);
	height:500px;
}
#parallax2{	
	background-image: url(../img/parallax/2.jpg);
	height:500px;
}
#testimonials{	
	background-image: url(../img/1.jpg);
	height:500px;
}
#testimonials-3{	
	background-image: url(../img/12.jpg);
	height:500px;
}
#testimonials-2{	
	background-image: url(../img/6.jpg);
	height:500px;
}

/*===========================
	---Pricing---
===========================*/
.line-pricing-table {
  margin: 50px 0 100px 0;
}
.line-wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.line-wrap:after {
  clear: both;
  content: "";
  display: block;
}
.line-pricing-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.line-pricing-table .pricing-table-wrap {
  display: table-cell;
  text-align: center;
}


.line-pricing-table .pricing-table-wrap ul {
  border: 2px solid #e6e6e6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 10px;
  padding: 40px 20px;
  background: #ffffff;
  list-style: none;
}
.line-pricing-table .pricing-table-wrap ul li.line-head-row {
  font-size: 24px;
  line-height: 100%;
  font-weight: bold;
  padding-bottom: 5px;
  list-style: none;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row {
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 30px;
  margin-bottom: 35px;
  list-style: none;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row p {
  margin: 0;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row small {
  font-size: 18px;
  color: #b3b3b3;
  list-style: none;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row span {
  font-size: 72px;
  color: #417630;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 100%;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row span.symbol {
  position: relative;
  font-size: 24px;
  color: #000000;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  top: -15px;
}
.line-pricing-table .pricing-table-wrap ul li.line-btn-row {
  margin-top: 30px;
  list-style: none;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight {
  border-color: #417630;
  padding: 0;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-price-row {
  background: #417630;
  border-color: #417630;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-price-row small {
  color: #ffffff;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-price-row span {
  color: #ffffff;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-price-row span.symbol {
  color: #ffffff;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-head-row {
  color: #ffffff;
  background: #417630;
  padding-top: 40px;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-btn-row {
  padding-bottom: 40px;
}
.line-btn,
input[type="submit"],
button[type="submit"] {
  font-weight: bold;
  color: #000000;
  background-image: none;
  background-color: #ffffff;
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
  cursor: pointer;
  border: 2px solid #000000;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  display: inline-block;
}
.line-btn.small,
input[type="submit"].small,
button[type="submit"].small {
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
}
.line-btn.big,
input[type="submit"].big,
button[type="submit"].big {
  height: 60px;
  line-height: 60px;
  padding: 0 70px;
}
.line-btn.blue,
input[type="submit"].blue,
button[type="submit"].blue {
  background: #009eca;
  border: none;
  color: #ffffff;
}
.line-btn.lightblue,
input[type="submit"].lightblue,
button[type="submit"].lightblue {
  background: #58c5c0;
  border: none;
  color: #ffffff;
}
.line-btn.darkblue,
input[type="submit"].darkblue,
button[type="submit"].darkblue {
  background: #42555c;
  border: none;
  color: #ffffff;
}
.line-btn.red,
input[type="submit"].red,
button[type="submit"].red {
  background: #e74c3c;
  border: none;
  color: #ffffff;
}
.line-btn.green,
input[type="submit"].green,
button[type="submit"].green {
  background: #417630;
  border: none;
  color: #ffffff;
}
.line-btn.orange,
input[type="submit"].orange,
button[type="submit"].orange {
  background: #f6ba70;
  border: none;
  color: #ffffff;
}
.line-btn.light,
input[type="submit"].light,
button[type="submit"].light {
  background: #dddddd;
  color: #000000;
  border: none;
}
.line-btn.light:hover,
input[type="submit"].light:hover,
button[type="submit"].light:hover {
  color: #ffffff;
  background: #417630;
}

/*===========================
  --- Header & menu ----
=========================== */

.navbar {
	line-height: 100px;
	height: 100px;
	background-color: rgba(255,209,15, 1.0);
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0;
	padding-bottom:0;

}

.navbar .navbar-collapse {
	margin-bottom: 0;
	padding-bottom:0;
	margin-right:20px;
}

/*--Responsive--*/

@media (max-width: 1199px){
.navbar .navbar-collapse {
	margin-bottom: 0;
	padding-bottom:0;
	margin-left:-15px;
	margin-top: -20px;
	width:160px;
}
.navbar .navbar-nav > .active > a {
	padding-bottom: 0px;
}
.row-slider{
height: auto;
}
}

.nav li {
	height: 100%;
	line-height: 100%;
	margin-bottom: 0;
	padding-bottom:0;
}

.nav>li>a {
	display: table-cell;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
	color:#004182;
	font-weight: 0;
	font-size: 12px;
	letter-spacing: .1em;
	text-transform: uppercase;
	
}

.nav>li>a:hover {
	color: #fff;
	background: none;
}

.navbar-nav {
	float: right;
	margin-bottom: 0;
	padding-bottom:0;	
}

.navbar .navbar-nav > .active > a {
	color: #fff;
}
.navbar .navbar-nav > .active > a {
	padding-bottom: 15px;
}

h1 a.navbar-brand {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
	text-shadow: none;
	margin-left: 40px;
}

.navbar-brand {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	line-height: 90px;
}

.navbar-brand img {
	vertical-align: middle;
}

.navbar-toggle {
	padding: 0;
	margin: 0;
	width: 80px;
}

.navbar-collapse.in {
	margin-top: -5px !important;
}



/*===========================
  --- Featured section ----
=========================== */

section.featured {
height: auto;
	padding: px 0 0px;
	background: #333333;
vertical-align: middle;
text-align: center;
color:#fff;
}
section.featured img {
height: 100%;
	
}

section.featured h2.slogan {
	color: #fff;
	font-size: 48px;
	font-weight: 900;
}
/*row-slider*/
.row-slider{
padding-top: 20px;
 vertical-align: middle; 
  padding-bottom: 20px;
}
.title{
padding-top: 100px;
text-align: center;
}
.list-style{
list-style: none;
left:0%;
}

.learn-more{
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 60px;
    display: inline-block;
    background : rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, .1);
    width: 150px;
    height: 40px;

}

.learn-more:hover{
    background : rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);

}

.learn-more a{
    font-size: 12px;
    letter-spacing: 1px;
    color:#fff;
    padding-top: 9px; 
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.learn-more a.first {
    position: absolute;
    top:0;
    left:18%;
}

.learn-more a.sec {
    position: absolute;
    top: -30px;
    right:10px;
    left:8%;
    font-size:26px;
}

.learn-more:hover a.first {
    position: absolute;
    top: 30px;
}
.learn-more:hover a.sec {
    position: absolute;
    top: -3px;
}


.circle{

  font-size: px;
  width: 200px;
  height: 200px;
  line-height: 380px;
  vertical-align: middle; 
  text-align: center;
  margin-top: 60px;
}
.circle:hover{

  
  width: 140px;
  height: 140px;
  font-size: 20px;
  line-height: 390px;
  vertical-align: middle; 
  text-align: center;
  margin-top: 60px;
}
  
 /* inner heading */
section.featured.inner {
	background: #eee;
	padding: 150px 0 50px;
}
  /*id*/
#header img {
height: 600px;
}
#section-services {
background-color: #fff;
 height: 650px;
 }
#section-team{
background-color: #fff;
height: 650px;
}
#section-about {
background-color: #fff;
height: auto;
}
.about{
padding:0 20px 80px;
}
.company h4 span{
color:#417630;
}
 /* --- Flexslider --- */
.flexslider {
	margin: 0;
	background: 0;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.flex-control-paging li a {
	width: 8px;
	height: 8px;
}

.flex-control-paging li a.flex-active {
	background: #fff;
}

.flex-control-nav {
	bottom: -25px;
}

.flexslider .slides img {
	width: auto;
	display: inline;
}

.flex-direction-nav a {
	display: block;
	width: 50px;
	height: 98px;
	margin: -29px -20px 0;
	position: absolute;
	top: 30%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.flex-direction-nav .flex-next {
	right: -70px;
	background: url(../img/arrow_large_right.png) no-repeat top left;
}

.flex-direction-nav .flex-prev {
	left: -70px;
	background: url(../img/arrow_large_left.png) no-repeat top left;
}

.flex-direction-nav a.flex-next:before {
	content: none !important;
}

/* removing default arrows */
.flex-direction-nav a:before {
	content: none !important;
}

/* --- Revolution slider --- */

.featured .fullwidthbanner ul {
	list-style: none;
	padding:0;
}

.tp-rightarrow.large {
	margin-left: 0;
}

.tp-leftarrow.default {
	width: 49px !important;
	height: 98px !important;
	background: url(../img/arrow_small_left.png) no-Repeat top left;
}

.tp-rightarrow.default {
	width: 49px !important;
	height: 98px !important;
	background: url(../img/arrow_small_right.png) no-Repeat top left;
}

.fullwidthbanner-container {
	padding-top: 100px;
	width: 100% !important;
	position: relative;
	padding: 0;
	max-height: 650px !important;
	overflow: hidden;
}

.fullwidthbanner {
	height: 650px;
}

.tp-bullets.simplebullets.round .bullet {
	background: url(../img/bullets-new.png) no-repeat top left;
}  

.tp-caption.large_bold_white {
	font-size:60px;
	line-height:60px;
	font-weight:800;
	font-family:"Open Sans";
	color: #fff;
	text-decoration:none;
	background-color:transparent;
	text-shadow:none;
	margin:0px;
	padding:1px 4px 0px;
	border-width:0px;
	border-color:rgb(255, 214, 88);
	border-style:none;
}
.tp-caption.small_thin_white {
	font-size:18px;
	line-height:26px;
	font-weight:300;
	font-family:"Open Sans";
	color: #fff;
	text-decoration:none;
	background-color:transparent;
	padding:1px 4px 0px;
	text-shadow:none;
	margin:0px;
	border-width:0px;
	border-color:rgb(255, 214, 88);
	border-style:none;
}


.fullwidthbanner a.btn {
	color: #fff;
}

body { padding-top: 60px; }
.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;  
}
.nav.nav-justified > li.active > a > .quote { opacity: 1; }
.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
.nav.nav-justified > li > a > img { 
    max-width: 100%; 
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img { 
    opacity: 1; 
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }  
}











/*==========================
About
=========================== */
/*
.team-section {
  width: 100%;
  min-width: 100%;
  text-align: center;
  padding: 100px 0;
  position: relative;
}
.team-section .special-heading {
  margin-bottom: 30px;
}
.team-member {
  margin: 0 40px 40px;
  padding: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-background-clip: border;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  z-index: 2;
}
.team-member .profile-picture {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: border;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  overflow: hidden;
  max-width: 240px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.team-member .profile-picture .profile-overlay {
  height: 94%;
  width: 94%;
  background-color: #b4dba7;
  position: absolute;
  top: 3%;
  left: 3%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: border;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  display: block;
}
.team-member .profile-picture img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 50%;
}
.team-member h3 {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 0;
}
.team-member span {
  font-size: 0.875em;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  color: #417630;
  padding-top:-10px;
}
.team-member .profile-social {
  font-size: 1.3125em;
  line-height: 1.9047em;
  opacity: 1;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 60%;
  left:55px;
  display: none;
}
.team-member .profile-social .icons-wrapper {
  margin: 50px auto 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.team-member .profile-social .icons-wrapper a {
  color: #fff;
  margin: 0 5px;
}
.team-member .profile-social .icons-wrapper a:hover {
  color: #417630;
}
.team-member .team-bio {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  top: 89%;
  left: 40px;
  right: 70px;
  height: auto;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: rgba(91,223,48,0.25);
  padding: 0 20px 20px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: border;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  z-index: 1;
}
.team-member .team-bio p {
  font-size: 0.75em;
  height: auto;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  margin-bottom: 0;
}
.team-member:hover {
  background-color: rgba(91,223,48,0.12)
}
.team-member:hover .profile-picture .profile-overlay {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.team-member:hover .profile-picture .icons-wrapper {
  margin-top: 150px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}
.team-member:hover .team-bio {
  height: auto;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  top: 100%;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.team-member:hover .team-bio p {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}

.team-detail h4 span{
	
	margin-top: 5px;
}
.box-bg p{
padding: 10px 20px;
font-size: 14px;
}
.box-bg h6,h4{
font-family:'Open Sans', Arial, sans-serif;
	font-weight:700;
	line-height:1.1em;
	
	margin-bottom: 20px;

}



.box-bg{
padding: 10px 20px;
}
*/



/*===========================
  Portfolio
============================ */
nav#filter a {
	background-color: #EEE;
	color:#555;
}
nav#filter a:hover, nav#filter a.current {
	background-color: #417630;
	color:#fff;
}

/* ------- */

.isotopeWrapper article{
    margin-bottom: 30px;
}

#portfolio img  {
	width:100%;
}

#portfolio article p {
	margin-bottom:1.45em;/*set next row on the baseline*/
}
nav#filter {
	margin-bottom:1.5em;
}

nav#filter li {
	display:inline-block;
	margin:0 0 0 5px;
}
nav#filter a {
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
}


.portfolio-items article img {width:100%;} 

.portfolio-item {
	display: block;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.portfolio-item img {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;

}
.portfolio-item .portfolio-desc {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
	left: 0;
	top: 0;
	color: rgba(220, 220, 220, 0.7);
}


.portfolio-item:hover .portfolio-desc {
	padding-top: 20%;
	height: 100%;
    transition: all 200ms ease-in-out 0s;
	opacity: 1;
}

.portfolio-item .portfolio-desc a {
	color: #fff;
}
.portfolio-item .portfolio-desc a:hover {
	/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
	text-decoration: none;
}
.portfolio-item .portfolio-desc .folio-info {
	top:-20px;
	
	padding: 30px;
	height: 0;
    opacity: 0;
    position: relative;
}

.portfolio-item:hover .folio-info{
	height: 100%;
    opacity: 0.8;
    transition: all 500ms ease-in-out 0s;
	top:-10px;
}



.portfolio-item .portfolio-desc .folio-info h5 {
	text-transform: uppercase;
}
.portfolio-item .portfolio-desc .folio-info p {
	color: #ffffff;
	font-size: 12px;
}


/*===========================
  --- Testimonial ----
=========================== */
#testimonals {
	padding-top: 20px;
	padding-bottom:40px;
	position:relative;
	
}
.testimonial i {
	color: #fff;
	margin-top:100px;
}
.testimonial span.author {
	color: #fff;
	font-weight: 700;
}

.testimonial h5 {
	color: #fff;
	font-size: 18px;
	font-family: Georgia, sans-serif;
	line-height: 1.5em;
}	

/*===========================
  --- Contact ----
=========================== */

.validation {
	display:none;
	margin: 0 0 20px;
	font-weight:400;
	font-size:13px;
}

#sendmessage {
	border:1px solid #fff;
	display:none;
	text-align:center;
	padding:15px 12px 15px;
	margin:10px 0;
	font-weight:600;
	margin-bottom:30px;
}

#sendmessage.show,.show  {
	display:block;
}

#contact-form {
	position: relative;
	z-index: 999;
}

#contact-form input[type=text], #contact-form input[type=password], #contact-form input[type=email], .contactForm textarea {
	width: 100%;
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	border: 0;
	font-size:14px;
	text-align: left;
	vertical-align: middle;
	padding:0 10px;
}
#contact-form input[type=text]:focus, #contact-form input[type=password]:focus, #contact-form input[type=email]:focus, .contactForm textarea:focus {
	background: rgba(101, 106, 100, 1);
	color: #eff1ef;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#contact-form input[type=text], #contact-form input[type=password], #contact-form input[type=email] {
	height: 60px;
	margin-bottom:30px;
}
#contact-form input[type=submit] {
	color: #fff;
	width: 185px;
	height: 60px;
	text-shadow: none;
	font-size: 14px;
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0 0 20px 0;
	display: block;
	border: 0;
	text-transform: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#contact-form input[type=submit]:hover, #contact-form input[type=submit]:active {
	background: #43413e !important;
}
#contact-form textarea {
	padding-top: 1em;
}

textarea.form-control {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

div.cform-response-output {
	max-width: 60%;
	text-align: center;
	margin-left: 40% !important;
	margin-top: 0.5em !important;
	padding: 0.5em !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.cform-not-valid-tip {
	color: #888;
	border: 1px dotted #ad3729 !important;
	width: 100% !important;
	left: 0 !important;
	padding: 0.5em !important;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* google map */
#map {
	height: 500px;
}


/*====================
  Clients
==================== */
#clients img {
	opacity: 0.7;
}

#clients img:hover {
	opacity: 1;
}


/*=========================
  Footer
 ================= */

section#footer {
	background: #242424;
	margin: 0;
}

section#footer .copyright {
	text-align: center;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer menu */
ul.footer-menu {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.footer-menu li {
	display: inline;
	margin: 0 5px;
}

a.scrollup{
	height:40px;
	width:40px;
	color:#fff;
	font-size:22px;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:9999;
	opacity:0.5;
}
a.scrollup:hover{
	opacity:1;
	color:#fff;
	font-size:18px;
	line-height:30px;
	
}

/*===========================
  --- Template Components ----
=========================== */

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
	
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
	
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
	
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
	
}
.social-network a.icoVimeo:hover {
background-color:#0590B8;
	
}
.social-network a.icoLinkedin:hover {
background-color:#007bb7;
	
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, 
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#417630;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/* stats */
.stats .icon {
	margin: 0 0 20px 0;
}

.stats strong.number {
	font-size: 38px;
}

.stats span.text {
	font-weight: 700;
	font-size: 24px;
}

/* buttons */
.btn {
	border: 0;
}

.btn.bold {
	font-weight: 600;
}

.btn-cta {
	color: #ffffff;
	border-bottom: 4px solid;
}
.btn-cta:hover {
	color: #ffffff;
}

.btn-cta {
	border-bottom: 2px solid;
}
.btn-cta.btn-lg {
	border-bottom: 4px solid;
}



/* ========================================
Media queries
========================================= */
@media (min-width: 959px) and (max-width: 1199px) {
	.navbar-nav {
		margin-top: 20px;
	}
}

@media only screen and (min-device-width : 979px) and (max-device-width : 1024px)  {

	.navbar-nav {
		margin-top: 20px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 959px) {

	.navbar-nav {
		margin-top: 20px;
	}
}
@media (max-width: 767px) {

	.navbar.navbar-fixed-top {
		background-color:rgba(0,0,0,1);
	}
	.navbar .navbar-collapse ul.nav {
		background-color: #444;
		width: 100%;
		float: none;
		margin:0;
		padding:0;
	}
	.navbar .navbar-collapse ul.nav li {
		border-bottom: 1px solid #666;
	}
	
	
	
	.team-member,.col-lg-4 {
		margin-bottom: 30px;
	}
	
	.stats .col-md-3 {
		margin-bottom: 30px;
	}
}

.usuario{
  color: yellow !important;
}